<main>
    <nav class="navbar navbar-expand-lg navbar2">
        <div class="container">
            <a class="navbar-brand click-scroll" href="/">
                <i class="bi-back"></i>
                <span>CradleConnect</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link inactive" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll active" href="articles">Articles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="community">Community</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="faq">FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="diary">Dear Diary</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="goals">Goals</a>
                    </li>

                    {{!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                            <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                        </ul>
                    </li> --}}
                </ul>

                <div class="d-none d-lg-block">
                    <a href="/logout" class="navbar-icon bi-person smoothscroll"></a>
                </div>
            </div>
        </div>
    </nav>

    <section class="explore-section section-padding section-padding2" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="mb-4">Browse Articles</h1>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Stages</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Delivery</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Nutrition</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">Health</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">Exercise</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.whattoexpect.com/pregnancy/week-by-week/" target="_blank">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Week-by-Week Pregnancy Guide</h5>

                                                    <p class="mb-0">This week-by-week guide offers a concise overview of baby development, body changes, common symptoms providing practical tips, and recommended products.</p>
                                                </div>

                                                {{!-- <span class="badge bg-design rounded-pill ms-auto">14</span> --}}
                                            </div>

                                            <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.nhs.uk/start-for-life/pregnancy/week-by-week-guide-to-pregnancy/" target="_blank">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Stages in Pregnancy: Trimester Guide</h5>

                                                        <p class="mb-0">Track body changes, confirm pregnancy, and learn about early symptoms and fetal development. Stay informed with weekly updates for a smoother journey. </p>
                                                </div>

                                                {{!-- <span class="badge bg-design rounded-pill ms-auto">75</span> --}}
                                            </div>

                                            <img src="images/topics/undraw_Redesign_feedback_re_jvm0.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-lg-42 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Logo Design</h5>

                                                        <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                </div>

                                                <span class="badge bg-design rounded-pill ms-auto">100</span>
                                            </div>

                                            <img src="images/topics/colleagues-working-cozy-office-medium-shot.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="https://www.pampers.com/en-us/pregnancy/giving-birth/article/what-is-a-doula" target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">What Is a Doula and Should You Hire One?</h5>

                                                        <p class="mb-0">This article explores the role and benefits of doulas, outlining what they do, their advantages over midwives, and tips for hiring the right one, including important questions to ask.</p>
                                                    </div>

                                                    {{!-- <span class="badge bg-advertising rounded-pill ms-auto">30</span> --}}
                                                </div>

                                                <img src="images/topics/undraw_online_ad_re_ol62.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="https://bmcpregnancychildbirth.biomedcentral.com/articles/10.1186/1471-2393-14-254">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Mode of Delivery</h5>

                                                        <p class="mb-0">The purpose of this qualititative study was to determine important elements associated with women’s first delivery experience according to the mode of delivery: vaginal or caesarean section.</p>
                                                    </div>

                                                    {{!-- <span class="badge bg-advertising rounded-pill ms-auto">65</span> --}}
                                                </div>

                                                <img src="images/topics/undraw_Group_video_re_btu7.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="https://bmcpregnancychildbirth.biomedcentral.com/articles/10.1186/1471-2393-14-254">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Mode of Delivery</h5>

                                                        <p class="mb-0">The purpose of this qualititative study was to determine important elements associated with women’s first delivery experience according to the mode of delivery: vaginal or caesarean section.</p>
                                                    </div>

                                                    {{!-- <span class="badge bg-advertising rounded-pill ms-auto">65</span> --}}
                                                </div>

                                                <img src="images/topics/undraw_Group_video_re_btu7.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    {{!-- <div class="col-lg-4 col-lg-42 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Viral Tweet</h5>

                                                        <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                    </div>

                                                    <span class="badge bg-advertising rounded-pill ms-auto">50</span>
                                                </div>

                                                <img src="images/topics/undraw_viral_tweet_gndb.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>

                        <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.medicinenet.com/understanding_pica_eating_disorder/article.htm">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Understanding Pica</h5>

                                                    <p class="mb-0">Pica is characterized by the continued consumption of nonfood substances, often associated with iron deficiency anemia, which is common during pregnancy.</p>
                                                </div>

                                                {{!-- <span class="badge bg-finance rounded-pill ms-auto">30</span> --}}
                                            </div>

                                            <img src="images/topics/undraw_Finance_re_gnv2.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.eatingwell.com/article/291485/10-foods-with-more-protein-than-an-egg/">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">10 Foods with More Protein Than an Egg</h5>

                                                    <p class="mb-0">This article provides a comprehensive list of protein sources essential for pregnancy, emphasizing the importance of protein intake for fetal development and maternal health.</p>
                                                </div>

                                                {{!-- <span class="badge bg-finance rounded-pill ms-auto">30</span> --}}
                                            </div>

                                            <img src="images/topics/undraw_Finance_re_gnv2.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.niddk.nih.gov/health-information/endocrine-diseases/pregnancy-thyroid-disease">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Thyroid and Pregnancy</h5>

                                                    <p class="mb-0">This article outlines the impact of thyroid health on pregnancy, offering insights into why maintaining thyroid function is crucial during gestation and providing guidance on managing thyroid conditions for optimal maternal and fetal well-being.</p>
                                                </div>

                                                {{!-- <span class="badge bg-music rounded-pill ms-auto">45</span> --}}
                                            </div>

                                            <img src="images/topics/undraw_Compose_music_re_wpiw.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.acog.org/clinical/clinical-guidance/committee-opinion/articles/2017/10/guidelines-for-diagnostic-imaging-during-pregnancy-and-lactation ">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Diagnostic Imaging During Pregnancy and Lactation</h5>

                                                    <p class="mb-0">This article provides essential guidelines for safe diagnostic imaging during pregnancy and lactation, ensuring the well-being of both mother and baby.</p>
                                                </div>

                                                {{!-- <span class="badge bg-music rounded-pill ms-auto">45</span> --}}
                                            </div>

                                            <img src="images/topics/undraw_happy_music_g6wc.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.nhs.uk/pregnancy/related-conditions/common-symptoms/tiredness/">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Tiredness and Sleeplessness in Pregnancy</h5>

                                                    <p class="mb-0">This article explains how to deal with sleeplessness and feeling tired in pregnancy, the safest sleeping positions.</p>
                                                </div>

                                                {{!-- <span class="badge bg-music rounded-pill ms-auto">45</span> --}}
                                            </div>

                                            <img src="images/topics/undraw_happy_music_g6wc.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.nhs.uk/pregnancy/keeping-well/exercise/">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Do's and Dont's of Exercises in Pregnancy</h5>

                                                    <p class="mb-0">This article offers exercise guidance for pregnant women, emphasizing the benefits of staying active and providing safe exercises to maintain fitness and alleviate discomfort. It includes tips for pelvic floor and abdominal strengthening, supporting maternal health during pregnancy.</p>
                                                </div>

                                                {{!-- <span class="badge bg-education rounded-pill ms-auto">80</span> --}}
                                            </div>

                                            <img src="images/topics/undraw_Graduation_re_gthn.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Pregnancy and Exercise</h5>

                                                    <p class="mb-0">This article provides comprehensive guidance on exercise during pregnancy, emphasizing its benefits and offering suggested activities while also highlighting cautionary measures and exercises to avoid. It's a valuable resource for expectant mothers seeking to maintain their health and well-being throughout pregnancy.</p>
                                                </div>

                                                <span class="badge bg-education rounded-pill ms-auto">80</span>
                                            </div>

                                            <img src="images/topics/undraw_Graduation_re_gthn.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </section>
    <footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

        </div>
    </div>
</footer>
</main>