
<main>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="bi-back"></i>
                <span>CradleConnect</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll active" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="articles">Articles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="community">Community</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="faq">FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="diary">Dear Diary</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="goals">Goals</a>
                    </li>

                    {{!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                            <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                        </ul>
                    </li> --}}
                </ul>

                <div class="d-none d-lg-block">
                    <a href="/logout" class="navbar-icon bi-person smoothscroll"></a>
                </div>
            </div>
        </div>
    </nav>
    

    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Empower. Support. Connect.</h1>

                    <h6 class="text-center">Empowering Parenthood through Digital Support and Connectivity</h6>

                    {{!-- <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search"> --}}
                        {{!-- <div class="input-group input-group-lg"> --}}
                            {{!-- <span class="input-group-text bi-search" id="basic-addon1"> --}}
                                
                            {{!-- </span> --}}

                            {{!-- <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Design, Code, Marketing, Finance ..." aria-label="Search"> --}}

                            {{!-- <button type="submit" class="form-control">Search</button> --}}
                        {{!-- </div> --}}
                    {{!-- </form> --}}
                </div>

            </div>
        </div>
    </section>


    <section class="featured-section">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                    <div class="custom-block bg-white shadow-lg">
                        <a href="topics-detail.html">
                            <div class="d-flex">
                                <div>
                                    <h5 class="mb-2">Whats on your Mind today?</h5>

                                    <p class="mb-0">Make sure the href of this takes you to the personal blog seciton</p>
                                </div>

                                {{!-- <span class="badge bg-design rounded-pill ms-auto">14</span> --}}
                            </div>

                            <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="custom-block custom-block-overlay">
                        <div class="d-flex flex-column h-100">
                            <img src="images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="">

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2">Reminder</h5>

                                    <p class="text-white">Dont forget to meet your daily water intake goals. Make sure the href takes the person to the water and other tracking thing</p>

                                    <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">My Hydration Goals</a>
                                </div>

                                {{!-- <span class="badge bg-finance rounded-pill ms-auto">25</span> --}}
                            </div>

                            <div class="social-share d-flex">
                                <p class="text-white me-4">Here is a random quote about water intake during pregnancy</p>

                                {{!-- <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>

                                <a href="#" class="custom-icon bi-bookmark ms-auto"></a> --}}
                            </div>

                            <div class="section-overlay"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-4"></h1>
            </div>

        </div>
    </div>

    <section class="timeline-section section-padding" id="section_3">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="text-white mb-4">Why CradleConnect?</h1>
                </div>

                <div class="col-lg-10 col-12 mx-auto">
                    <div class="timeline-container">
                        <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                            <div class="list-progress">
                                <div class="inner"></div>
                            </div>

                            <li>
                                <h4 class="text-white mb-3">Look for Answers on the Community Forum</h4>

                                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, cumque magnam? Sequi, cupiditate quibusdam alias illum sed esse ad dignissimos libero sunt, quisquam numquam aliquam? Voluptas, accusamus omnis?</p>

                                <div class="icon-holder">
                                    <i class="bi-search"></i>
                                </div>
                            </li>
                            
                            <li>
                                <h4 class="text-white mb-3">Keep a Track of how your are feeling EVERYDAY!</h4>

                                <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint animi necessitatibus aperiam repudiandae nam omnis est vel quo, nihil repellat quia velit error modi earum similique odit labore. Doloremque, repudiandae?</p>

                                <div class="icon-holder">
                                    <i class="bi-bookmark"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">Access Trusted Articles</h4>

                                <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi vero quisquam, rem assumenda similique voluptas distinctio, iste est hic eveniet debitis ut ducimus beatae id? Quam culpa deleniti officiis autem?</p>

                                <div class="icon-holder">
                                    <i class="bi-book"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 text-center mt-5">
                    <p class="text-white">
                        And so much more....!
                        {{!-- <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a> --}}
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">
                    <i class="bi-back"></i>
                    <span>Topic</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">How it works</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">FAQs</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        +971-50-515-1234
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">
                        software@nyu.edu
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    English</button>

                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">English</button></li>

                        {{!-- <li><button class="dropdown-item" type="button">Myanmar</button></li> --}}

                        {{!-- <li><button class="dropdown-item" type="button">Arabic</button></li> --}}
                    </ul>
                </div>

                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024. All rights reserved.
                {{!-- <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p> --}}
                
            </div>

        </div>
    </div>
</footer>
