{{!-- <section class="hero-section hero-section2 d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div class="col-12 text-center">
                    <img src = "images/cradle.png" class="img-fluid landingImage" alt="goals">
                    <h2 class="mb-4 text-white">CradleConnect</h2>
                    <h2 class="mb-4 text-center">Empowering Parenthood through Digital Support and Connectivity</h2>
                    <a href="/signin" class="btn custom-btn custom-btn2 mt-3 mt-lg-4">Sign In</a>
                    <a href="/signup" class="btn custom-btn custom-btn2 mt-3 mt-lg-4">Sign Up</a>
                </div>  
            </div>
        </div>
    </div>
</section> --}}


<section class="hero-section hero-section3 d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div class="col-12 text-center">
                    <img src="images/logo.png" class="img-fluid landingImage" alt="CradleConnect Logo">
                    <h2 class="mb-4 text-white cradle-title">CradleConnect</h2>
                    <h2 class="mb-4 text-center cradle-subtitle">Empowering Parenthood through Digital Support and Connectivity</h2>
                    <div class="buttons-container">
                        <a href="/signin" class="btn custom-btn custom-btn2">Sign In</a>
                        <a href="/signup" class="btn custom-btn custom-btn2">Sign Up</a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>
