<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand click-scroll" href="/">
            <i class="bi-gender-ambiguous"></i>
            <span>CradleConnect</span>
        </a>

        <div class="d-lg-none ms-auto me-4">
            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="nav-item">
                </li>

                <li class="nav-item">
                </li>

                <li class="nav-item">
                </li>

                <li class="nav-item">
                </li>

                <li class="nav-item">
                </li>

                <li class="nav-item">
                </li>
            </ul>

            <div class="d-none d-lg-block">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            {{!-- <div class="col-12 text-center"> --}}
                    {{!-- <h2 class="mb-4">Sign Up</h2> --}}
                    {{!-- <a href="/addDiary" class="btn custom-btn custom-btn2 mt-3 mt-lg-4">Click Here to Add Today's Entry</a> --}}
            {{!-- </div> --}}
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="post-box2">
                            <div class="col-12 text-center">
                                    <h2 class="mb-4">Sign Up</h2>
                                    {{!-- <a href="/addDiary" class="btn custom-btn custom-btn2 mt-3 mt-lg-4">Click Here to Add Today's Entry</a> --}}
                            </div>
                            {{#if error}}
                            <p class="error-message" style="color: red;">{{error}}</p>
                            {{/if}}
                            <form class="custom-form" action="/signup" method="POST">
                                <div class="form-group">
                                    <label for="name">Full Name</label>
                                    <input type="text" id="name" class="form-control" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" class="form-control" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="retypePassword">Retype Password</label>
                                    <input type="password" id="retypePassword" class="form-control" name="retypePassword" required>
                                </div>
                                <button type="submit" class="custom-btn">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>